.box {
	border: 2px solid grey;
	margin: 2px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: xx-large;
}

.box-hover:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-disabled {
	cursor: no-drop;
}
