/* Main Structure */
.main-grid-container, .main-grid {
  display: flex;
  flex-wrap: wrap;
}

.mid-box-container {
	flex: 0 0 33.333333%;
	padding: 1.5vw;
	width: 30vw;
	position: relative;
}

.mid-box {
	display: flex;
	flex-wrap: wrap;
	/* position: absolute */
}

.mid-box-success {
    z-index: -1;
    position: absolute;
    top: 1.5vw;
    bottom: 1.5vw;
    left: 1.5vw;
    right: 1.5vw;
    line-height: 30vw;
    font-size: 26vw;
    text-align: center;
    opacity: 20%;}

.small-box-container {
	flex: 0 0 33.333333%;
	/* padding: 1vw; */
	width: 10vw;
	height: 10vw;
}
.small-box {
	border: 2px solid black;
	height: 100%;
	width: 100%;
	line-height: 10vw;
    font-size: 5vw;
}

/* Styling Grid */
.main-grid-container .unclickable-box {
	background-color: white;
    opacity: 50%;
	cursor: no-drop;
}



/* Styling */
.last-clicked {
	color: red;
}

.box-hover:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.box-hover:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-disabled {
	cursor: no-drop;
}
